.product{
     gap: 3%;
    /* margin-top: 15px;/ */
     display: grid;
     grid-template-columns: repeat(4,1fr);
     margin-bottom: 15%;
     margin: 2%;
    
     
}
#item{
     border: rgb(13, 192, 236) solid;
     padding: 10%;
}
button{
     border: none;
     outline: none;
     padding: 10px 12px;
     background-color: rgb(14, 238, 44);
     color: white;
     border-radius: 5px;
     margin-left:50% ;
     margin-top:3%;
     margin-bottom: 3%;
     
}
/* .container{
     background-color: bisque;
} */
img{
     width: 200px;
     height: 200px;
}
@media screen and(max-width:600px) {
     
     img{
          width: 50px;
          height: 50px;

     }
}